
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
}

form {
    background: #fff;
    padding: 25px;
    max-width: 500px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

.hobi-container {
    display: flex;
    gap: 15px;
    margin-top: 5px;
    flex-wrap: wrap;
}

.hobi-container label {
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 5px;
}


button {
    background: #3437db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; 
    box-sizing: border-box; 
}

button:hover {
    background: #29b995;
}

.success, .error {
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}

.success {
    background-color: #e3edd4;
    color: #155724;
}

.error {
    background-color: #f8d7e5;
    color: #721c24;
}
